@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "NovoContato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Contato</h2>

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações de Pessoas</legend>

        <div>
            <label for="Id">@Html.LabelFor(x => x.Id)</label>
        </div>
        <div>
            @Html.EditorFor(x => x.Id)
        </div>

        <div>
            <label for="Nome">@Html.LabelFor(x => x.Nome)</label>
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
        </div>

        <div>
            <label for="Tipo">@Html.LabelFor(x => x.Tipo) </label>
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
        </div>

        <input type="submit" value="Salvar" />

    </fieldset>
}